body {
  background-color: #fcf5ee;
}

h2{
  text-align: center;
}

h3{
  font-style: oblique;
  font-weight: bold;
  font-size:20px;
  text-align: center;
}

h4{
  font-style: oblique;
  font-weight: bold;
  font-size: 14px;
}
.axoltl{
  float: right;
  padding-right: 30px;
}

.intro p{
  text-align: center;
}

.books{
  font-style: italic;
}
