body {
  background-color: #fcf5ee;
}

h2{
  text-align: center;
}

h3{
  font-style: oblique;
  font-weight: bold;
  font-size:20px;
  text-align: left;
}

h4{
  font-style: oblique;
  font-weight: bold;
  font-size: 15px;
  text-align:center;
}
.axoltl{
  float:left;
  padding-left: 475px;
  margin-top:40px;
}

.intro p{
  text-align: center;
}

.books{
  font-style: italic;
}

.panel-body1 p {
  text-align: left;
}

.panel-body1 {
  display:inline-block;
  text-align: left;
  padding: 30px;
  background-color: #fbe8e7;
}

.panel-body1 img{
  float: right;
}
.panel-heading1 {
  background-color: #ffc4d0;
  text-align:left;
  padding: 2px;
}

.panel-body2 img{
  float: left;
  width: 150px;
  height: 150px;
  padding-right:15px;
  padding-left:15px;
}

.panel-heading2{
  background-color:#5edfff;
  padding: .5px;
}

.panel-heading3{
  background-color:#5edfff;
  padding: .5px;
}

.row2{
  margin-left: 10px;
}
.panel-body3 img{
  float:left;
  width: 250;
  height: 150px;
  padding-right: 20px;
  padding-left: 10px;
}

.panel-body3 p{
  font-style: italic;
}

.nontech ul {
  display: inline-block;
  text-align: center;
  margin-left: 200px;
}

.skills{
  font-style: oblique;
}

.well{
  margin-top: 80px;
}

.intro h3{
  font-size: 14px;
  text-align: center;
}

.containerprojects{
  margin-top: 30px;
  margin-left: 40px;
  margin-right:40px;
}

/* @media screen and (max-width: 700px) and (min-width: 600px)  {
    body {
        background-color: black;
        color: white;
    }
} */
